<main class="main" >
  <!-- projects-section -->
  <section class="wrappper projects" data-aos="fade-up">
    <img src="/public/images/right-vector.svg" class="left-vector" alt="" />

    <div class="heading project-head">
      <h2>All Projects</h2>
    </div>

    <div class="projects-grid container">
      <% projects.forEach((project,index) => {%>
      <% if(index % 2 == 0) {%>
      <div class="project" data-aos="flip-left" data-aos-delay="300">
        <% } else{%>
          <div class="project" data-aos="flip-right" data-aos-delay="300">
          <% } %>
        <div class="image">
          <h2><%- project.projectName %></h2>
          <img src="<%- project.profilePic %>" alt="" />
        </div>
        <div class="description">
          <h2><%- project.projectName %></h2>
          <p>
            <%- project.description %>
          </p>
          <div class="feedback">
            <label for="like" class="like feedback-field">
              <form
                action="/projects/send-love/<%- project._id %>?_method=PUT"
                class="send-love"
                style="display: flex; align-items: center;"
                method="POST"
              >
                <p class="increment">
                  <strong><%- project.loveCounter %></strong> People like this
                </p>
                <button
                  type="submit"
                  class="like-btn"
                  style="margin-left: 4px;"
                >
                  <i class="fa fa-heart like"></i>
                </button>
              </form>
            </label>
          </div>
          <div class="view-links">
            <a href="<%- project.projectDemo %>">View</a>
            <a href="<%- project.projectLink %>">Code</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </section>
</main>
